*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
};

h1, h2, p{
  color: #333;
}

main {
    max-width: min(1450px, calc(100% - 3rem));
    flex: 1;
    padding: 4rem 0;
}
