/*GLOBAL COLORS*/
$primaryBlue: #007BFF;
$hoverBlue: #0072EB;
$sekundareBlue: #D5E9FF;
$black: #333333;
$darkGrey: #969696;
$lightGrey: #F2F2F2;
$dangerRed: #FF383C;
$goodGreen: #34C759;
$whiteColor: #fff;
$statusPurple: #CB30E0;
$statusOrange: #FF8D28;

